<div class="container pt-2" data-controller="add-field">
  <%= simple_form_for @granny do |f| %>
    <%= f.input :name, label: "Son nom" %>
    <%= f.simple_fields_for :categories, Category.new do |p| %>
      <%= p.hidden_field :id %>
      <%= p.input :name, as: :select, collection: Category::CATEGORIES, label: "Catégories"%>
      <%= p.input :specialty, label: "Spécialité(s)" %>
      <button class='little-button' data-action="click->add-field#add" data-add-field-target="addbutton">Ajouter une deuxième catégorie</button>
    <% end %>
    <div>
    <span data-add-field-target="span" class="d-none">
      <%= render 'form_category', f: f %>
    </span>
    </div>
    <%= f.input :presentation, as: :text, label: "Description" %>
    <%= f.input :location,
      input_html: {data: {address_autocomplete_target: "location"}},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :price, label: "Prix" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Photo(s)"%>
    <%= f.submit "Ajouter" %>
  <% end %>
</div>
