<div class="container pt-2">
  <%= simple_form_for @granny do |f| %>
    <%= f.input :name, label: "Son nom" %>
    <%= f.simple_fields_for :categories, Category.new do |p| %>
      <%= p.hidden_field :id %>
      <%= p.input :name, as: :select, collection: Category::CATEGORIES, label: "Catégories"%>
      <%= p.input :specialty, label: "Spécialités" %>
    <% end %>
    <%= f.input :presentation, as: :text, label: "Description" %>
    <%= f.input :location, label: "Adresse" %>
    <%= f.input :price, label: "Prix" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Photo(s)"%>
    <%= f.submit "Ajouter" %>
  <% end %>
</div>
