



<div class="container">
  <div class="title-show">
    <span class="back-button">
    <%= link_to(:action => 'index') do %>
    <i class="fa-solid fa-arrow-left" style="color: #1c1717;"></i>
    <% end %>
    </span>
    <h1>Meet your granny</h1>
    <%# <%= link_to "Nos grannies", grannies_path, class: "back-button" %>
  </div>



  <div class="template">

    <div class="show-card col-12">

      <div class="main-card-granny col-7">
        <span class="name-granny"><%= @granny.name %></span>
        <br>
        <br>
        <div class="categories-flex">
        <% @granny.categories.each do |category| %>
        <span class="categories-show"><%= category.name %></span>
        <% end %>
        </div>
        <br>
        <% @granny.categories.each do |category| %>
        <span>Spécialité: <%= category.specialty%></span>
        <% end %>
        <br>
        <br>
        <i class="fa-solid fa-location-dot" style="color: #FFCACC;"></i>  <%= @granny.location %>
        <br>
        <br>
        <span class=""><%= @granny.presentation %></span>
      </div>

      <div class="card-from-res col-4">
        <%= simple_form_for [@granny, @reservation] do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :category_booked, collection: @granny.categories.pluck(:name) %>
          <%= f.submit "Réserver", class: "button-form" %>
        <% end %>
      </div>

    </div>

  </div>

</div>
