



<div class="container">
  <div class="title-show">
    <span class="back-button">
    <%= link_to(:action => 'index') do %>
    <i class="fa-solid fa-arrow-left" style="color: #1c1717;"></i>
    <% end %>
    </span>
    <span class="titles">Meet your granny</span>
    <%# <%= link_to "Nos grannies", grannies_path, class: "back-button" %>
  </div>


  <div class="pictures">
                  <div id="carouselExampleControls" class="carousel slide">
                    <span class="carousel-inner">
                      <% active = "active" %>
                      <% @granny.photos.each do |photo| %>
                        <div class="carousel-item <%= active %>">
                          <%= cl_image_tag photo.key, crop: :fill, class:"carousel-show-image" %>
                        </div>
                        <% active = "" %>
                      <% end %>
                    </span>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

  </div>

  <div class="template">

    <div class="show-card col-12">

      <div class="main-card-granny col-7">
        <span class="name-granny-big"><%= @granny.name %></span>
        <br>
        <br>
        <div class="categories-flex">
          <% @granny.categories.each do |category| %>
            <span class="categories-show"><%= category.name %></span>
          <% end %>
        </div>
        <br>
        <div class="categories-flex">
          <% @granny.categories.each do |category| %>
            <span class="specialties-show"><%= category.specialty%></span>
          <% end %>
        </div>
        <br>
        <i class="fa-solid fa-location-dot" style="color: #FFCACC;"></i>  <%= @granny.location %>
        <br>
        <br>
        <span class=""><%= @granny.presentation %></span>
      </div>

      <div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @granny.price %>" class="card-from-res col-4">
        <%= simple_form_for [@granny, @reservation] do |f| %>
          <%= f.input :start_date, as: :string, input_html: {
            data: {
              controller: "datepicker",
              datepicker_target: 'startDateInput',
              dynamic_booking_price_target: 'startDateInput',
              action: 'change->dynamic-booking-price#setDaysValue change->dynamic-booking-price#setPriceValue'
              }
            } %>
          <%= f.input :end_date, as: :string, input_html: {
            data: {
              controller: "datepicker",
              datepicker_target: 'endDateInput',
              dynamic_booking_price_target: 'endDateInput',
              action: 'change->dynamic-booking-price#setDaysValue change->dynamic-booking-price#setPriceValue'
              }
            } %>
          <%= f.input :category_booked, collection: @granny.categories.pluck(:name) %>
        <p>Réservation pour <span data-dynamic-booking-price-target="daysHolder">0</span> jours</p>
        <p>Prix total : <span data-dynamic-booking-price-target="priceHolder"><%= @granny.price %></span> € </p>
          <%= f.submit "Réserver", class: "button-form" %>
        <% end %>
      </div>

    </div>

  </div>

</div>
