<% if current_user == @user %>

<div class="profile-card">
  <% @user.grannies.each do |granny| %>
  <div class="profile-card-granny">
    <p class="name-granny-profile"><%= granny.name %></p>
    <p>Présentation: <%= granny.presentation %></p>
    <p>Adresse: <%= granny.location %></p>
    <p>Prix: <%= granny.price %>€</p>
    <%= link_to "Modifier ma granny", edit_granny_path(granny.id), class: 'little-button' %>
    <%= link_to "Supprimer ma granny", granny_path(granny), data: {turbo_method: :delete, turbo_confirm: "Vous êtes sûr?"}, class: 'little-button' %>
  </div>
  <% end  %>
</div>
  <ul>
    <% @user.reservations.each do |reservation| %>
      <li>
        <p>
          Date: <%= reservation.start_date %> - Categorie: <%= reservation.category_booked %> - Mamie: <%= reservation.granny.name %>
        </p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You do not have access</p>
<% end %>
