<% if current_user == @user %>

  <div class="container">
    <span class="titles">Réservations de mes grannies</span>

    <div class="">

      <div class="reservation-container">
        <% @my_reservations.each do |reservation| %>
          <div class="pending-card">
            <div>
              <!-- if you're using cloudinary and activestorage -->
              <%# <%= cl_image_tag booking.user.photo, class: 'avatar-bordered' %>
              <div>
                <div class="name-granny-profile">
                  <%= reservation.user.name %> avec Granny <%= reservation.granny.name %>
                </div>
                <div>

                </div>
                <div>
                  Du <%= reservation.start_date %> au <%= reservation.end_date %>
                </div>
              </div>
            </div>
            <div class="pending-container" >
              <% if reservation.pending? %>
                <%= simple_form_for reservation do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                  <%= f.submit 'Accept', class: 'button-form' %>
                <% end %>
                <%= simple_form_for reservation do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                  <%= f.submit 'Reject', class: 'button-form' %>
                <% end %>
              <% else %>
                <p><%= reservation.status %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div>
    <span class="titles">Mes grannies</span>
    <div class="profile-card align-items-center justify-content-center">
      <% @user.grannies.each do |granny| %>
      <div class="profile-card-granny d-flex align-items-baseline justify-content-center">
        <p class="name-granny-profile"><%= granny.name %></p>
        <%= link_to edit_granny_path(granny.id) do %>
          <span class='little-button mx-3 inline-block'>
           <i class="fa-solid fa-pen-to-square" style="color: #0E0000;"></i>
          </span>
        <% end %>
        <%= link_to granny_path(granny), data: {turbo_method: :delete, turbo_confirm: "Vous êtes sûr?"} do %>
          <span class='little-button mx-1'>
            <i class="fa-solid fa-trash" style="color: #0E0000;"></i>
          </span>
        <% end %>
      </div>
      <% end  %>
    </div>
    </div>
  </div>
<% else %>
  <p>You do not have access</p>
<% end %>
