<% if current_user == @user %>

<div class="container">
  <h1 class="titles">Mes réservations</h1>


  <div class="reservation-container">
        <% @reservations.each do |reservation| %>
          <div class="reservation-card">
              Granny : <%= reservation.granny.name %>
              <br>
              Categorie :
              <%= reservation.category_booked %>
              <br>
              Date :
              <%= reservation.start_date %>
              <br>
              Statut :
              <%= reservation.status %>
          </div>
        <% end %>
  </div>

<%#
  <h1 class="titles">Réservations de mes grannies</h1>

    <div class="reservation-container">
         <%# <%=  @user.first.booked_grannies %>
    <%# </div> %>

</div>

<% end %>
